# Example environment variables for local development

## General
JAVA_HOME=path/to/java/home

## SonarQube
SONAR_TOKEN=replace-me
SONAR_HOST=https://sonar.stage.itsinternal.de

## Xira
POSTGRES_USER=xira
POSTGRES_PASSWORD=xira
POSTGRES_DB=xira